.header {
    padding: 10px;
    text-allign: center;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 10px;
    font-family: monospace;
}

.p1 {
    padding: 5px;
    text-allign: center;
    background: rgb(120, 129, 133);
    color: white;
    font-size: 10px;
    font-family: monospace;
}